a {
  color: darkred;
  text-decoration: none;
  font-size: bold;
  display: inline-block;
  position: relative;
}

a:after {
  content: "";
  background: darkred;
  height: 2px;
  left: 0;
  width: 0;
  display: block;
  transition: width 0.4s ease 0.1s;
}

a:hover::after {
  width: 100%;
}
